<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.edua.compumovil.gr02_20182.lab4">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Mirar si hay conexion de internet -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- ​ service que se ejecute automáticamente cuando el dispositivo inicie (BOOT) -->
    <application
        android:name=".Firebase.MyFirebaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Sync.BootupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".UsuarioAtivity"
            android:parentActivityName=".ServiciosNavigationDrawer" />
        <activity
            android:name=".FoodActivity"
            android:parentActivityName=".ServiciosNavigationDrawer" />
        <activity
            android:name=".DrinkActivity"
            android:parentActivityName=".ServiciosNavigationDrawer" />
        <activity
            android:name=".LoguinTabbed"
            android:label="@string/title_activity_loguin_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ServiciosNavigationDrawer"
            android:label="@string/title_activity_servicios_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>